body {
    margin: 0;
    padding: 0;
}

.content {
    border: 1px solid red;
    margin-left: 203px;
    position: static;
}   

.footer {
    border: 1px solid orange;
    position: fixed;
    width: 100%;
}

.header {
    background-color: lightskyblue;
    border: 1px solid green;
    color: white;
    position: sticky;
}

.list {
    width: 100%;
}

.navig {
    border: 1px solid blue;
    position: absolute;
    padding-left: 49px;
    padding-right: 49px;
}   