body {
    background-image: url("img/TumpakSewu.jpg");
    background-size: cover;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    margin-top: 10%;
    margin-right: 30px;
    margin-left: 30px;
    height: 60px;
    width: 200px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    border: none;
}

footer {
    background-color: #88FF1E;
    height: 40px;
    font-size: 25px;
}

form {
    margin: 5% 25% 1% 25%;
    padding-bottom: 3%;
    background: rgba(0, 0, 0, 0.4);
}

.field-courses {
    display: block;
    padding: 40px;
}

fieldset {
    margin-top: 5%;
    display: flex;
    font-family: 'Trebuchet MS';
}

h1 {
    font-size: 50px;
}

header {
    margin-top: 5%;
}

label {
    padding-bottom: 30px;
    padding-top: 30px;
}

p {
    font-family: 'Trebuchet MS';
}

#reset {
    background-color: #F76B62;
}

#reset:hover {
    background-color: #F43327;
}

#send {
    background-color: white;
    color: #3F9BF7;
    font-size: 25px;
}

#send:hover {
    background-color: #3F9BF7;
    color: white;
}